* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#board-params-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  gap: 16px;
}

#status {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#board-size {
  padding: 6px;
  font-size: 18px;
  border: none;
  outline: none;
}

#board-size:focus {
  outline: none;
}

.btn {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100px;
}

.btn:hover {
  opacity: 0.75;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 12px;
  height: 12px;
  border: 1px solid gray;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}

#itr-count:hover {
  opacity: 1;
  cursor: auto;
}
